<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="WARN"/>
    <logger name="akka" level="WARN"/>
    <logger name="com.lightbend.lagom" level="WARN"/>

    <!-- Suppress service logs in tests, because these tests create a lot of error logs. -->
    <logger name="endpoint-metrics" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
